<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base_page_style.css') }}">
    <title>Добро пожаловать</title>
</head>
{% endblock %}

<body>
    <div class="full-screen-img"></div>
    <div class="header">
        <div class="header-block">
            <a class="title" href="/">Tours for the soul</a>
        </div>
    </div>

    
    <div class="content">
        {% block content %}
        <div class="description">
            <div class="desc">
                <div class="desc-title">Добро пожаловать на<br>"Tours for the Soul"!</div> 
                <div class="desc-desc"><p>Мы рады видеть вас на нашем сайте,
                    посвященном удивительным путешествиям в самые красивые и вдохновляющие уголки природы. Здесь вы
                    найдете уникальные туры, которые помогут вам восстановить связь с природой, насладиться её красотой
                    и открыть для себя новые горизонты.</p>

                    <p>Каждый тур, который мы предлагаем, тщательно разработан с учетом вашего комфорта и безопасности. Мы
                    стремимся создать незабываемые впечатления, которые оставят в вашем сердце тепло и радость. От
                    живописных горных пейзажей до спокойных пляжей и густых лесов — мы приглашаем вас в путешествие,
                    которое наполнит вашу душу гармонией и умиротворением.</p>

                    <p>Наша команда состоит из опытных гидов и энтузиастов природы, которые готовы поделиться с вами своими
                    знаниями и любовью к окружающему миру. Мы уверены, что каждый тур станет не только открытием новых
                    мест, но и возможностью для личностного роста и самопознания.</p>

                    <p>Присоединяйтесь к нам в этом удивительном путешествии и позвольте себе отдохнуть от повседневной
                    суеты. Откройте для себя магию природы с "Tours for the Soul" — ваше идеальное приключение
                    начинается здесь!</p>
                </div>
                <a class="show-tour" href="views/tours/">Посмотреть туры</a>
            </div>
        </div>
        {% endblock %}
    </div>
    


</body>

</html>