{% extends 'user/base_page.html' %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base_page_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/success_book_page_style.css') }}">
    <title>Ждем Вас!</title>
</head>
{% endblock %}

{% block content %}
<div class="success">
    <span>Готово!<br>Вы забронировали место!<br>На Ваш электронный адрес было отправленно письмо с информацией по туру и дальнейшими действиями!<br>Благодарим за броинрование!<br>Tours for the soul :)</span>
</div>
{% endblock %}