.success {
    display: flex;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}