{% extends 'user/base_page.html' %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base_page_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_login_style.css') }}">
    <title>Админ панель</title>
</head>
{% endblock %}

{% block content %}
<form action="/admin" method="post" class="form-admin">
    <label>Имя: </label> <input class="field" type="text" name="username" value="" required>
    <label>Пароль: </label> <input class="field" type="password" name="psw" value="" required>
    <input class="sub" type="submit" value="Войти">
</form>
{% endblock %}
