{% extends 'user/base_page.html' %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base_page_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_edit_style.css') }}">
    <title>Админ панель</title>
</head>
{% endblock %}

{% block content %}
<form method="post">
    <div class="edit-block">
    <input type="submit" name="action" value="Добавить тур">
    <input type="submit" name="action" value="Изменить/удалить тур">
    <input type="submit" name="action" value="Клиенты">
</div>
</form>

{% endblock %}